.nav {
    background-color: rgba(239, 100, 100, 0.862);
}

.link {
    color:brown;
}

.text-center{
    background-color: rgba(232, 223, 223, 0.8);
}

.text{
    background-color: rgba(227, 166, 166, 0.862);
}

.mi-footer{
    width: 100%; 
    height: 120px; 
    background-image: url('/assets/img/fondo.png'); 
    padding: 0px; 
    text-align: center; 
  }
  
  .mi-footer p {
    color: #b35e5eae; 
    margin-bottom: 10px; 
    font-size: 25px; 
    font-weight: bold;
}
  